
body{
  background-color: #FF5A5F;
  color: #FFF;
}
.App{
  margin: 50px 100px;
}

h1,h3{
  text-align: center;
}

h1{
  font-size: 50px;
  padding: 30px;
}

h3{
  font-size: 30px;
   font-weight: 400;
  margin-top: 150px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
